/* ***********************************  */
/* *********** Main / Generic ********  */
/* ***********************************  */
body {
    font-family: 'HKGroteskRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    background: url('/img/background.jpg') no-repeat center fixed;
    background-size: cover;
    color: #FFF8DA !important;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    width: 60%;
    float: left;
}

@font-face {
    font-family: "1942";
    src: url("/fonts/1942.ttf");
}


.site-content {
    flex: 1;
}

.btn-success, .btn-success:hover {
    background-color: #525250;
    border-color: #525250;
}

/* *********************************** */
/* ************ Sidebar ************** */
/* *********************************** */

.sidebar {
    background: white;
    color: rgba(46, 42, 44, 0.93);

    opacity: 0.95;
    font-size: 1.2em;

    width: 32%;
    float: right;

    padding: 2em;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;

    box-shadow: inset 0 0 8px rgba(47, 47, 47, 0.2);

    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    margin-bottom: 5em;
}

.sidebar-logo {
    height: 6.5em;
    float: left;
    margin-right: 15px;
    -webkit-animation-duration: 5s;
}

/* ***********************************  */
/* *********** Search Field **********  */
/* ***********************************  */
.search-field {
    margin-bottom: 1.5em;
}

.search-field input {
    font-family: 'HKGroteskRegular', sans-serif;
    margin-bottom: -1em;
}

input.form-control {
    color: #f3e7ee;
    background: #525250 !important;
    border-color: #525250;
}

/* *********************************** */
/* *********** Link Style ************ */
/* *********************************** */
a, a:visited, a:hover {
    color: #f3e7ee;
    text-decoration: underline;
}



a:hover {
    color: #fff3fa;
}

/* ***********************************  */
/* ************** Head ***************  */
/* ***********************************  */
h1.header {
    font-family: "1942", serif !important;
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #252525;
    font-size: 32px;
    z-index: 99999 !important;
    margin-bottom: 0.8em;
}

/* ***********************************  */
/* ************** Menu ***************  */
/* ***********************************  */
.menu-bar {
    margin-bottom: -6em;
    margin-top: 1em;
}

.menu-item {
    height: 1em;
    padding-top: 0.6em;
    float: right;
    margin-left: 1.5em;
}

.menu-item-entry {
    margin-top: -1.4em;
    padding-left: 1em;
    padding-right: 1em;
}

a.menu-item, a.menu-item:hover, a.menu-item:visited {
    text-decoration: none;
    color: #FFF8DA;
    font-weight: bold;
    display: block;
}

/* ***********************************  */
/* ************** Card ***************  */
/* ***********************************  */
.card {
    margin-bottom: 3em;
    padding: 2em;
    background: rgba(35, 35, 35, 0.72);
    border-radius: 20px;

    box-shadow: inset 0 0 8px rgba(47, 47, 47, 0.2);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05)
}

.card:after {
    content: "";
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.card:hover:after {
    opacity: 1;
}

.username {
    font-size: 2em;
    font-weight: bold;
    font-family: "1942", serif !important;
    color: #f3e7ee;

}

.username > a, a:hover, a:visited {
    text-decoration: none;
}

.user-description {
    margin-bottom: 1.5em;
}


p.user-disclaimer {
    margin-top: calc(0.5em + 3px);
}

p.user-disclaimer > strong {
    color: rgb(193, 0, 0);
    background: white;
    padding: 3px;
    border-radius: 3px;
    margin-right: 2px;
}

div.col-sm-9.user-description {
    /*border-bottom: 1px dashed lightgrey;*/
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    right: -30px;
    width: 68%;
}


/* **********************************  */
/* ************* Footer *************  */
/* **********************************  */
footer {
    background: #525250;
    height: 10em;
    opacity: 0.8;
    padding-top: 2em;
}