/* ***********************************  */
/* *********** Main / Generic ********  */
/* ***********************************  */
body {
    font-family: 'HKGroteskRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
    background: url('/img/background.jpg') no-repeat center fixed;
    background-size: cover;
    color: #FFF8DA !important;
}


@font-face {
    font-family: "1942";
    src: url("/fonts/1942.ttf");
}


.btn-success, .btn-success:hover {
    background-color: #525250;
    border-color: #525250;
}

/* Menu */
.hamburger {
  display: none;
  position: absolute;
  margin-top: 2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: palevioletred;
}

@media (max-width: 775px) {
  .hamburger {
    display: block;
  }
}

/* *********************************** */
/* ************ Sidebar ************** */
/* *********************************** */

.sidebar {
    background: white;
    color: rgba(46, 42, 44, 0.93);

    opacity: 0.95;
    font-size: 1.2em;


    padding: 2em;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;

    box-shadow: inset 0 0 8px rgba(47, 47, 47, 0.2);

    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    margin-bottom: 5em;
}

.sidebar-logo {
    height: 6.5em;
    float: left;
    margin-right: 15px;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
}

/* ***********************************  */
/* *********** Search Field **********  */
/* ***********************************  */
.search-field {
    margin-bottom: 1.5em;
}

.search-field input {
    font-family: 'HKGroteskRegular', sans-serif;
    margin-bottom: -1em;
}

input.form-control, textarea#message.form-control {
    color: #f3e7ee;
    background: #525250 !important;
    border-color: #525250;
}

/* ***********************************  */
/* *********** Contact Form **********  */
/* ***********************************  */

.has-error small {
    display: none !important;
}

.has-error .control-label {
    color: inherit !important;
}

.has-success .control-label {
    color: inherit !important;
}


/* *********************************** */
/* *********** Link Style ************ */
/* *********************************** */
a, a:visited, a:hover {
    color: #f3e7ee;
    text-decoration: underline;
}



a:hover {
    color: #fff3fa;
}

/* ***********************************  */
/* ************** Head ***************  */
/* ***********************************  */
h1.header {
    font-family: "1942", serif !important;
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #252525;
    font-size: 32px;
    /*z-index: 99999 !important;*/
    margin-bottom: 0.8em;
}

.inner-header {
  padding-left: 20px;
  padding-right: 20px;
}

/* ***********************************  */
/* ************** Menu ***************  */
/* ***********************************  */
.menu-bar {
    margin-top: 24px;
    padding-bottom: 0;
    display: flex;
    justify-content: flex-end;
}


@media (min-width: 750px) {
  .menu-bar {
    height: 60px;
  }
}

.menu-item {
    margin-left: 1.5em;
    height: 1em;
}

.menu-item-entry {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: -0.6em;
}

a.menu-item, a.menu-item:hover, a.menu-item:visited {
    text-decoration: none;
    color: #FFF8DA;
    font-weight: bold;
    display: block;
}

@media (max-width: 750px) {
  .menu-bar {
    flex-direction: column;
    margin-left: 40px;
    display: none;
  }

  .menu-bar.is-active {
    display: block;
  }

}

/* ***********************************  */
/* ************** Card ***************  */
/* ***********************************  */
.card {
    margin-bottom: 3em;
    padding: 2em;
    background: rgba(35, 35, 35, 0.72);
    border-radius: 20px;

    box-shadow: inset 0 0 8px rgba(47, 47, 47, 0.2);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05)
}

.card:after {
    content: "";
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.card:hover:after {
    opacity: 1;
}

.username {
    font-size: 2em;
    font-weight: bold;
    font-family: "1942", serif !important;
    color: #f3e7ee;

}

.username > a, a:hover, a:visited {
    text-decoration: none;
}

.user-description {
    margin-bottom: 1.5em;
}


p.user-disclaimer {
    margin-top: calc(0.5em + 3px);
}

p.user-disclaimer > strong {
    color: rgb(193, 0, 0);
    background: white;
    padding: 3px;
    border-radius: 3px;
    margin-right: 2px;
}

div.col-sm-9.user-description {
    /*border-bottom: 1px dashed lightgrey;*/
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    right: -30px;
    width: 68%;
}


/* **********************************  */
/* ************* Footer *************  */
/* **********************************  */
footer {
    background: #525250;
    height: 10em;
    opacity: 0.8;
    padding-top: 2em;
}